node_modules/
frontend/node_modules/
build/
frontend/build/
.lighthouse*
**/.lighthouse*
*.log
frontend/.lighthouse_chrome/
frontend/.lighthouse_temp_local/
frontend/tests/lighthouse/tmp/
frontend/tests/lighthouse/tmp/**
frontend/tests/lighthouse/report.report.html
frontend/tests/lighthouse/report.report.json
*.zip
*.tar.gz
*.tgz
.DS_Store
dist/
coverage/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.parcel-cache/
/.nyc_output/
*.local
env.local
.env.local
/.vscode/